<div class="page">
    <div class="white-frame register">
        <h2 class="header">
            Create an account
        </h2>

        <form name="registerForm" novalidate ng-submit="vm.registration()">
            <md-input-container class="md-block" md-no-float>
                <input name="username" ng-model="vm.form.username" placeholder="Name" required>
                <div ng-messages="registerForm.username.$error" role="alert">
                    <div ng-message="required">
                        Username field is required
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" md-no-float>
                <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                       ng-pattern="/^.+@.+\..+$/" required>
                <div ng-messages="registerForm.email.$error" role="alert" multiple>
                    <div ng-message="required">
                        Email field is required
                    </div>
                    <div ng-message="pattern">
                        Email must be a valid e-mail address
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" md-no-float>
                <input type="password" name="password" ng-model="vm.form.password" placeholder="Password" required>
                <div ng-messages="registerForm.password.$error" role="alert">
                    <div ng-message="required">
                        Password field is required
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" md-no-float>
                <input type="password" name="passwordConfirm" ng-model="vm.passwordConfirm"
                       placeholder="Password (Confirm)" required>
                <div ng-messages="registerForm.passwordConfirm.$error" role="alert">
                    <div ng-message="required">
                        Password (Confirm) field is required
                    </div>
                </div>
            </md-input-container>

            <div class="terms">
                <md-checkbox class="md-primary" name="terms" ng-model="vm.isAcceptedConditions"
                             aria-label="I read and accept" required>
                    I read and accept <a href="#"> terms and conditions</a>
                </md-checkbox>
            </div>

            <md-button type="submit" class="md-raised md-primary" aria-label="CREATE MY ACCOUNT"
                       ng-disabled="registerForm.$invalid || registerForm.$pristine || vm.passwordConfirm !== vm.form.password">
                CREATE MY ACCOUNT
            </md-button>
        </form>

        <div class="login" layout="row" layout-align="center center">
            Already have an account? <a ui-sref="login">Log in</a>
        </div>
    </div>
</div>